@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");


/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
    line-height: 1.5;
}
html{
    background-color: beige;
}

h1 {
font-size: 25px;
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  text-align: center;
  color: rgb(231, 231, 21);
}

nav{
    border:solid blue 3px;
    justify-content: space-evenly;
    letter-spacing: 2px;
    display: flex;
    
}
figure{
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
}
ul{
    border: solid blue 3px;
}


