nav {
    border: solid blue 3px;
}

figcaption {
    border: 3px solid black;
    color: darkblue;
}

section {
    display: flex;
    justify-content: space-around;
}

ul {
    border:solid yellow 3px;
    color:solid darkblue;
}